<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Tools Home</title>

<style type="text/css">
body{
	 margin: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
  	font-family: verdana;
    text-align: center;
background-color: #ffffff;
}
.button_tool {
    display: block;
    width: 10%;
    height: auto;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}
	

</style>


</head>
<body>

<a class="button_tool" href="{{url_for('home')}}">JD2Res</a>
	<br><br>

</body>
</html>
